<template>
  <div class="about">
    <h1>This is an about page</h1>
    <button @click="addRandomNumberToList">Add Number</button>
    <div class="list-items">
      <transition-group
        tag="ul"
        enter-active-class="animate__animated animate__bounceIn"
        leave-active-class="animate__animated animate__bounceOut"
      >
        <li
          v-for="(obj, index) in randomNumbers"
          :key="obj.key"
          @click="deleteRandomNumber(index)"
        >
          {{ obj.number }}
        </li>
      </transition-group>
    </div>
  </div>
</template>

<script>
export default {
  data: () => ({
    randomNumbers: [],
  }),
  methods: {
    addRandomNumberToList() {
      let randomKey = Math.random() * 10;
      let randomNumber = Math.floor(Math.random() * 10);
      this.randomNumbers.push({ key: randomKey, number: randomNumber });
    },
    deleteRandomNumber(index) {
      this.randomNumbers.splice(index, 1);
    },
  },
};
</script>

<style>
.list-items {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 36px;
}
</style>
