<template>
  <div class="home">
    <div>
      <button @click="showImage = !showImage">Toggle Image</button>
    </div>

    <transition
      enter-active-class="animate__animated animate__fadeInDown"
      leave-active-class="animate__animated animate__fadeOutUp"
    >
      <img v-if="showImage" alt="Vue logo" src="../assets/logo.png" />
    </transition>
    <HelloWorld msg="Welcome to Your Vue.js App" />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "Home",
  components: {
    HelloWorld,
  },
  data: () => ({
    showImage: true,
  }),
};
</script>
